/* @author Quinn Tao */
/* @last updated on Dec 12, 2022 */

hr { 
    border-color: #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 15px 0 15px 0;
}

/* ================== Container ================= */ 
.timeline-card-container {
    position: relative;
    box-sizing: border-box;
    max-width: 300px;
    padding: 20px;
    margin: 20px;

    box-shadow: 0 0 6px 1px rgb(201, 199, 199);
    border-radius: 6px;
}
.timeline-column-header{
    text-align: center;
    font-size: 40px;
    margin: auto;
}


.timeline-card-time-container p, h1 {
    margin: 0px;
}

.timeline-card-time-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.timeline-card-time-container p {
    font-size: 10px;
    font-weight: 100;
    color: gray;
}

/* ================== Brief ================= */ 
.timeline-card-brief {
    color:grey;
    font-size: 12px;
}

/* ================== Tags  ================= */ 
.timeline-card-tags {
    display: inline;
    position: relative;
    margin: 6px;

    padding: 3px;
    border-radius: 2px;
    font-size: 10px;
    background-color: rgb(48, 175, 133);
}
/* This is to make the first tag align */
.timeline-card-tags:nth-child(1) {
    margin-left: 0;
}
/* Before and After renders the little dot */
.timeline-card-tags::before {
    content: "  ";
    display: inline-block;
    width: 8px;
    border-radius: 2px;
    font-size: 10px;
    background-color: rgb(48, 175, 133);
}
.timeline-card-tags::after {
    content: " ";
    position: absolute;
    top: 40%;
    left: 3px;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    padding: 2px;
    font-size: 10px;
    background-color: rgb(73, 73, 73);
}
/* ================== Description ================= */ 
.timeline-card-description-container {
    padding-left: 20px;
    font-size: 12px;
}
/* ================== Link ================= */ 
.timeline-card-links-container {
    box-sizing: border-box;
    padding: 5px;
    font-size: 12px;
}

.timeline-card-links-container div {
    margin: 3px 0 4px 0;
}
/* This seperates the icon and text */
.timeline-card-links-container a {
    margin-left: 5px;
    color:rgb(160, 157, 157);
    font-family: Arial, Helvetica, sans-serif;
}

.timeline-card-links-container i {
    width: 10px;
    color:rgb(73, 73, 73);
    font-size: 8px;
}

/* ============= Toggle Btn =============== */ 
.timeline-card-toggler {
    margin-top: 10px;
}
.toggler-btn {
    border: none;
    border-radius: 3px;
    background-color: rgb(48, 175, 133);
}

.toggler-btn:hover {
    transform: scale(1.1);
}