/* @author Quinn Tao */
/* @last updated on Dec 4, 2022 */

.timeline-card-container {
    position: relative;
    box-sizing: border-box;
    max-width: 300px;
    padding: 20px;

    box-shadow: 0 0 6px 1px gray;
    border-radius: 6px;
}

.timeline-card-time-container p, h1 {
    margin: 0px;
}

.timeline-card-time-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.timeline-card-time-container p {
    font-size: 10px;
    font-weight: 100;
    color: gray;
}