/* @author Quinn Tao  */
/* @last updated on Dec 6 */

.timeline-container {
    display: flex;
    margin-left: 100px;
}
.timeline-body {
    display: inline-block;
    
}
.timeline-block {
    width: 140px;
    height: 0;
    position: relative;
    font-size: 24px;
}

.timeline-block::after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 100%;
    background-color: rgb(204, 204, 204);
}

/* ================ Timeline Container ===================== */ 
.timeline-cardpool-container {
    /* position:fixed; */
    display: inline-block;
    top: 20px;
    left: 248px;
    box-sizing: border-box;
}

/* This is fixed position class for timeline card pool */
.fixed {
    position: fixed;
}